<div class="background-gray contain">
    <div class="content-space">
          <form>
            <h2 class="fonte1">Confirmação de cadastro!</h2>
            <h4 class="fonte2">Obrigada por se cadastrar no nosso portal, vamos precisar que você confirme o termo para prosseguir com o cadastro.</h4>           
            <div class="container margembotao">
              <button type="button" class="btn btn botao voltar" (click)="voltar()">VOLTAR</button>
              <button type="button" class="btn btn botao continuar botaocontinuar" (click)="continuar()">CONTINUAR</button>
            </div>
          </form>
    </div>
</div>